/*=============================== GOOGLE FONTS /*===============================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* colors */
  --first-color: #e63946;
  --second-color: #a8dadc;
  --third-color: #457b9d;
  --text-color: #1d3557;
  --background-color: #f1faee;
  --input-color: ;
  --button-color: ;
  --button-color-hover: ;

  /* font and typography */

  --body-font: "Poppins", sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.5rem;

  /*=== Font weight ===*/

  --font-medium: 500;
  --font-semi-bold: 600;

  /*=== Margines Bottom ===*/

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.1.5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-1-75: 1.75rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --mt-3: 3rem;

  --mr-1: 1rem;

  /*=== Paddings ===*/

  --ptb-2: 2rem 0;
  --ptb-1: 1rem 0;
  --pr-1: 1rem;
  --p-0-5: 0.5rem;
}

/*==================== BASE ====================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(---background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*==================== CUSTOM CSS ====================*/

/*=== Containers ===*/

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.center {
  justify-content: center;
}

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

/*=== Buttons ===*/

.custom-button {
  background-color: var(--third-color);
  padding: var(--p-0-5);
  border-radius: 10px;
}

/*=== Header ===*/

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.header {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: var(--ptb-2);
}

.header-logo {
  color: var(--background-color);
}

.sub-header {
  background-color: var(--third-color);
  text-align: center;
  padding: var(--ptb-2);
}

.nav-item {
  margin: 0 var(--mr-1);
}

.nav-link {
  color: var(--background-color);
}

.nav-link.active {
  text-decoration: underline;
}

@media (max-width: 669px) {
  .header {
    padding: var(--ptb-1);
  }

  .header-inner {
    flex-direction: column;
  }

  .header-logo {
    padding: var(--ptb-1);
  }

  .nav {
    padding: var(--ptb-1);
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-right: 0;
  }

  .nav .nav-item {
    margin-right: 0;
  }
}

/*=== Footer ===*/

.footer {
  background-color: var(--text-color);
  text-align: center;
  width: 100%;
}

.footer-inner {
  padding: var(--ptb-1);
}

.footer-nav-item {
  color: var(--background-color);
  font-size: var(--h2-font-size);
}

.sub-footer {
  background-color: var(--third-color);
  padding: var(--ptb-1);
}

.sub-footer-text {
  color: var(--background-color);
  font-weight: 300;
}

/*=== Contact ===*/

.contact {
  width: 60%;
  margin: 0 auto;
  margin-top: var(--mt-3);
  text-align: center;
}

.input,
.textarea {
  padding: var(--pr-1);
  margin: 0;
  color: var(--text-color);
  border: 2px solid var(--second-color);
  width: 100%;
  margin-bottom: var(--mb-1);
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  font-family: inherit;
}

.input:focus,
.textarea:focus {
  border-color: var(--text-color);
  outline: none;
}

.contact-button {
  width: 100%;
  padding: var(--pr-1);
  background-color: var(--third-color);
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  color: var(--background-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  cursor: pointer;
}

/*==================== CUSTOM STYLES ====================*/

.container {
  width: 80%;

  position: relative;
}

.app-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

/*=== Navbar ===*/

.app-navbar-wrapper {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-navbar-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-navbar-li {
  margin: 0 1.5rem;
}

.app-navbar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
}

.app-navbar-link.active {
  color: var(--first-color);
}

.app-navbar-icon {
  font-size: 3rem;
}

/*=== Bottom Navbar ===*/

.app-navbar-bottom {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  background-color: var(--third-color);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=== Movie List ===*/

.movie-list-wrapper {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

/*=== Movie Card ===*/

.single-movie-wrapper {
  position: relative;
}

.single-movie-title {
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: var(--first-color);
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  color: var(--background-color);
}

.single-movie-rate {
  position: absolute;
  bottom: 25px;
  right: 0;
  background-color: var(--third-color);
  padding: 0.25rem 0.5rem;
  color: var(--background-color);
}

/*=== Search Card ===*/

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

.search-input {
  padding: var(--pr-1);
  margin: 0;
  color: var(--text-color);
  border: 2px solid var(--second-color);
  width: 30%;
  margin-bottom: var(--mb-1);
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  font-family: inherit;
}

.search-button {
  padding: 0.5rem;
  border: none;
  background-color: var(--third-color);
  color: var(--background-color);
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
  border-radius: 5px;
  cursor: pointer;
}
